<h2>Confirm Delete</h2>
<p>Are you sure you want to delete user <strong><%= @user.email %></strong>?</p>

<%= link_to "Cancel", admin_users_path, class: "btn btn-secondary" %>
<%= button_to "Delete", admin_user_path(@user), method: :delete, class: "btn btn-danger" %>
 